<!DOCTYPE html>
<html lang="en">
@{
    string cssLink = "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css";
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password </title>
    <link href="@cssLink" rel="stylesheet">
</head>
<body>
    <div class="flex items-center justify-center min-h-screen p-5 bg-blue-100 min-w-screen">
        <div style="max-height: 400px;" class="max-w-xl p-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl lg:p-12">
            <div class="flex justify-center">
                <img src="https://icons-for-free.com/iconfiles/png/512/settings+locked+padlock+unlock+icon-1320166639180851978.png" class="w-24 h-24 text-green-400" fill="none"/>
                   
            </div>
        
                <input required id="Email" class="form-control" placeholder="Email" type="email"><br />
                <button id="submit" type="button" class="btn btn-info">Send</button>
                

            <div class="mt-4">
                <span style="margin:0;padding:0;font-weight: bold; font-size: 13px; color: red; font-family: 'Montserrat', sans-serif;" id="Message" class="mt-4 text-sm">
                </span>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts{ 
<script>
    $(document).ready(function (e) {
        $("#submit").click(function (e) {
            e.preventDefault();
            var text = $("#Email").val();
            $.post("/Account/ForgotPasswordPage", { email: text }, function (json) {
                alert("sdjo");
                $("#Message").hide();
                $("#Message").text(json.message);
                $("#Message").fadeIn();
                if (json.success === true) {
                    $("#Message").css("color", "green");
                } else {
                    $("#Message").css("color", "red");
                }

            });
        })
    })
</script>
}